<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiyu.emall.mapper.QiyuUserMapper">
  <resultMap id="BaseResultMap" type="com.qiyu.emall.entity.QiyuUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="source" jdbcType="TINYINT" property="source" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="logistics_phone" jdbcType="VARCHAR" property="logisticsPhone" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="register_at" jdbcType="TIMESTAMP" property="registerAt" />
    <result column="register_ip" jdbcType="VARCHAR" property="registerIp" />
    <result column="login_at" jdbcType="TIMESTAMP" property="loginAt" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="union_id" jdbcType="VARCHAR" property="unionId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, source, phone, logistics_phone, user_name, user_id, province, city, avatar, register_at, 
    register_ip, login_at, login_ip, status, union_id, open_id, password, create_at, 
    update_at, create_by, update_by, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qy_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qy_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiyu.emall.entity.QiyuUser">
    insert into qy_user (id, source, phone, 
      logistics_phone, user_name, user_id, 
      province, city, avatar, 
      register_at, register_ip, login_at, 
      login_ip, status, union_id, 
      open_id, password, create_at, 
      update_at, create_by, update_by, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{source,jdbcType=TINYINT}, #{phone,jdbcType=VARCHAR}, 
      #{logisticsPhone,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{registerAt,jdbcType=TIMESTAMP}, #{registerIp,jdbcType=VARCHAR}, #{loginAt,jdbcType=TIMESTAMP}, 
      #{loginIp,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{unionId,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, 
      #{updateAt,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qiyu.emall.entity.QiyuUser">
    insert into qy_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="logisticsPhone != null">
        logistics_phone,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="registerAt != null">
        register_at,
      </if>
      <if test="registerIp != null">
        register_ip,
      </if>
      <if test="loginAt != null">
        login_at,
      </if>
      <if test="loginIp != null">
        login_ip,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="unionId != null">
        union_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="source != null">
        #{source,jdbcType=TINYINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="logisticsPhone != null">
        #{logisticsPhone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="registerAt != null">
        #{registerAt,jdbcType=TIMESTAMP},
      </if>
      <if test="registerIp != null">
        #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="loginAt != null">
        #{loginAt,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="unionId != null">
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiyu.emall.entity.QiyuUser">
    update qy_user
    <set>
      <if test="source != null">
        source = #{source,jdbcType=TINYINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="logisticsPhone != null">
        logistics_phone = #{logisticsPhone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="registerAt != null">
        register_at = #{registerAt,jdbcType=TIMESTAMP},
      </if>
      <if test="registerIp != null">
        register_ip = #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="loginAt != null">
        login_at = #{loginAt,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="unionId != null">
        union_id = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiyu.emall.entity.QiyuUser">
    update qy_user
    set source = #{source,jdbcType=TINYINT},
      phone = #{phone,jdbcType=VARCHAR},
      logistics_phone = #{logisticsPhone,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      register_at = #{registerAt,jdbcType=TIMESTAMP},
      register_ip = #{registerIp,jdbcType=VARCHAR},
      login_at = #{loginAt,jdbcType=TIMESTAMP},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      union_id = #{unionId,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="queryByOpenId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qy_user
    where open_id = #{openId,jdbcType=VARCHAR}
  </select>


  <select id="selectByUserPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qy_user
    where phone = #{phone,jdbcType=VARCHAR}
  </select>

</mapper>